n8n/workflows/webhook-broadcast.json
{
  "name": "Webhook Broadcast",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "broadcast",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://api:3001/api/webhook/broadcast",
        "method": "POST",
        "bodyParametersUi": {
          "parameter": []
        },
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{ JSON.stringify($json) }}"
      },
      "name": "Forward to API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "functionCode": "// STUB: Log notification results\nconsole.log('Broadcast completed:', items.length, 'notifications');\nreturn items;"
      },
      "name": "Log Result",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [750, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [{ "node": "Forward to API", "type": "main", "index": 0 }]
      ]
    },
    "Forward to API": {
      "main": [
        [{ "node": "Log Result", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {},
  "id": "1"
}
